SYE.EsbWrappers/WSDL/authenticate.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:masterdata="http://provider.model.service.ols.cqc.org.uk/masterdata" xmlns:tns="http://provider.model.service.ols.cqc.org.uk/authenticateSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://provider.model.service.ols.cqc.org.uk/authenticateSchema">

	<xsd:import namespace="http://provider.model.service.ols.cqc.org.uk/masterdata" schemaLocation="masterdata.xsd"/>
	
	
	
	<xsd:element name="GetAuthenticationRequest" type="tns:AuthenticationRequest"/>
	<xsd:element name="GetAuthenticationResponse" type="tns:AuthenticationResponse"/>	
	
	<xsd:element name="GetUpdatePasswordRequest" type="tns:UpdatePasswordRequest"/>
	<xsd:element name="GetUpdatePasswordResponse" type="tns:UpdatePasswordResponse"/>
	
	<xsd:element name="GetUpdateSecurityQuestionsRequest" type="tns:UpdateSecurityQuestionsRequest"/>
	<xsd:element name="GetUpdateSecurityQuestionsResponse" type="tns:UpdateSecurityQuestionsResponse"/>
	
	<xsd:element name="GetSecurityQuestionsRequest" type="tns:GetSecurityQuestionsRequest"/>
	<xsd:element name="GetSecurityQuestionsResponse" type="tns:GetSecurityQuestionsResponse"/>
	
	<xsd:element name="GetAcceptTermsAndConditionsRequest" type="tns:AcceptTermsAndConditionsRequest"/>
	<xsd:element name="GetAcceptTermsAndConditionsResponse" type="tns:AcceptTermsAndConditionsResponse"/>
	
	<xsd:element name="GetResetPasswordRequest" type="tns:ResetPasswordRequest"/>
	<xsd:element name="GetResetPasswordResponse" type="tns:ResetPasswordResponse"/>
	
	<xsd:element name="GetLogOutRequest" type="tns:LogOutRequest"/>
	<xsd:element name="GetLogOutResponse" type="tns:LogOutResponse"/>
	
	<xsd:element name="GetValidateSecurityQuestionsRequest" type="tns:ValidateSecurityQuestionsRequest"/>
	<xsd:element name="GetValidateSecurityQuestionsResponse" type="tns:ValidateSecurityQuestionsResponse"/>
	
	<xsd:element name="GetAccountSetUpRequest" type="tns:AccountSetUpRequest"/>
	<xsd:element name="GetAccountSetUpResponse" type="tns:AccountSetUpResponse"/>
	
    	
    	
    <xsd:complexType name="AuthenticationRequest">
    	<xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="userName" nillable="false" type="masterdata:String100"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="password" nillable="false" type="xsd:string"/>
            <xsd:element minOccurs="0" name="userType" type="xsd:string"/>          
    	</xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="AuthenticationResponse">
    	<xsd:sequence>
        	<xsd:element maxOccurs="1" minOccurs="1" name="tokenId" nillable="false" type="masterdata:String100"/>
        	<xsd:element maxOccurs="1" minOccurs="1" name="isUpdatePasswordRequired" nillable="false" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="isSecurityQuestionsAnswered" nillable="false" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="tandCVersionNumber" type="masterdata:String20"/>
        	<xsd:element maxOccurs="1" minOccurs="1" name="txnStatus" nillable="false" type="masterdata:String100"/>
    	</xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="UpdatePasswordRequest">
    	<xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="userName" nillable="false" type="masterdata:String100"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="oldPassword" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="newPassword" nillable="false" type="xsd:string"/>
            <xsd:element minOccurs="0" name="userType" type="xsd:string"/>         
    	</xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="UpdatePasswordResponse">
    	<xsd:sequence>        	
        	<xsd:element maxOccurs="1" minOccurs="1" name="txnStatus" nillable="false" type="masterdata:String100"/>
    	</xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="UpdateSecurityQuestionsRequest">
    	<xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="userName" nillable="false" type="masterdata:String100"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="listOfSecurityQAs" nillable="false" type="tns:SecuriyQAsDataList"/>
            <xsd:element minOccurs="0" name="userType" type="xsd:string"/>         
    	</xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="UpdateSecurityQuestionsResponse">
    	<xsd:sequence>        	
        	<xsd:element maxOccurs="1" minOccurs="1" name="txnStatus" type="masterdata:String100"/>
    	</xsd:sequence>
    </xsd:complexType>
    
    
    <xsd:complexType name="GetSecurityQuestionsRequest">
    	<xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="userName" nillable="false" type="masterdata:String100"/>
            <xsd:element minOccurs="0" name="userType" type="xsd:string"/>                    
    	</xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="GetSecurityQuestionsResponse">
    	<xsd:sequence>
        	<xsd:element name="listOfSecurityQAs" type="tns:GetSecuriyQAsDataList"/>
        	<xsd:element name="txnStatus" type="masterdata:String100"/>
    	</xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="AcceptTermsAndConditionsRequest">
    	<xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="userName" nillable="false" type="masterdata:String100"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="tnCVersion" nillable="false" type="masterdata:String20"/>         
    	</xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="AcceptTermsAndConditionsResponse">
    	<xsd:sequence>        	
        	<xsd:element maxOccurs="1" minOccurs="1" name="txnStatus" nillable="false" type="masterdata:String100"/>
    	</xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="ResetPasswordRequest">
    	<xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="userName" nillable="false" type="masterdata:String100"/>
            <xsd:element minOccurs="0" name="listOfSecurityQAs" type="tns:SecuriyQAsDataList"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="isSecQuestionMandatory" nillable="false" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="userType" type="xsd:string"/>        
    	</xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="ResetPasswordResponse">
    	<xsd:sequence>        	
        	<xsd:element maxOccurs="1" minOccurs="1" name="txnStatus" nillable="false" type="masterdata:String100"/>
        	
    	</xsd:sequence>
    </xsd:complexType>
    

   	<xsd:complexType name="GetSecuriyQAsDataList">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="1" name="SecuriyQAsData" type="tns:GetSecuriyQAsData"/>
		</xsd:sequence>
	</xsd:complexType>
	
   	<xsd:complexType name="SecuriyQAsDataList">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="1" name="SecuriyQAsData" type="tns:SecuriyQAsData"/>
		</xsd:sequence>
	</xsd:complexType>
    
    <xsd:complexType name="SecuriyQAsData">
    	<xsd:sequence>
            <xsd:element minOccurs="1" name="question" nillable="false" type="xsd:string"/>
            <xsd:element minOccurs="1" name="answer" type="xsd:string"/>
    	</xsd:sequence>
    </xsd:complexType>
     <xsd:complexType name="GetSecuriyQAsData">
    	<xsd:sequence>
            <xsd:element minOccurs="1" name="question" nillable="false" type="xsd:string"/>            
    	</xsd:sequence>
    </xsd:complexType>

 	<xsd:complexType name="LogOutRequest">
    	<xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="tokenId" nillable="false" type="masterdata:String100"/>                   
    	</xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="LogOutResponse">
    	<xsd:sequence>        	
        	<xsd:element maxOccurs="1" minOccurs="1" name="txnStatus" nillable="false" type="masterdata:String100"/>
    	</xsd:sequence>
    </xsd:complexType>

     <xsd:complexType name="ValidateSecurityQuestionsRequest">
    	<xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="userName" nillable="false" type="masterdata:String100"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="listOfSecurityQAs" nillable="false" type="tns:SecuriyQAsDataList"/>
            <xsd:element minOccurs="0" name="userType" type="xsd:string"/>         
    	</xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="ValidateSecurityQuestionsResponse">
    	<xsd:sequence>        	
        	<xsd:element maxOccurs="1" minOccurs="1" name="txnStatus" type="masterdata:String100"/>
    	</xsd:sequence>
    </xsd:complexType>


	 <xsd:complexType name="AccountSetUpRequest">
    	<xsd:sequence>        	
        	<xsd:element maxOccurs="1" minOccurs="1" name="userName" nillable="false" type="masterdata:String100"/>            
            <xsd:element minOccurs="0" name="userType" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="updatePasswordRequired" type="xsd:boolean"/>    
            <xsd:element maxOccurs="1" minOccurs="1" name="updateSecQRequired" type="xsd:boolean"/> 
            <xsd:element maxOccurs="1" minOccurs="1" name="acceptTNCRequired" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="accountSetUpUpdatePasswordRequest" type="tns:AccountSetUpUpdatePasswordRequest"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="accountSetUpUpdateSQRequest" type="tns:AccountSetUpUpdateSQRequest"/>            
			<xsd:element maxOccurs="1" minOccurs="0" name="accountSetUpAcceptTcRequest" type="tns:AccountSetUpAcceptTcRequest"/>
    	</xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="AccountSetUpUpdatePasswordRequest">
    	<xsd:sequence>            
            <xsd:element maxOccurs="1" minOccurs="1" name="oldPassword" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="newPassword" nillable="false" type="xsd:string"/>                    
    	</xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="AccountSetUpUpdateSQRequest">
    	<xsd:sequence>            
            <xsd:element maxOccurs="1" minOccurs="1" name="listOfSecurityQAs" nillable="false" type="tns:SecuriyQAsDataList"/>              
    	</xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="AccountSetUpAcceptTcRequest">
    	<xsd:sequence>                        
            <xsd:element maxOccurs="1" minOccurs="1" name="tnCVersion" nillable="false" type="masterdata:String20"/>
    	</xsd:sequence>
    </xsd:complexType>
    
    
    <xsd:complexType name="AccountSetUpResponse">
    	<xsd:sequence>        	        	      
            <xsd:element maxOccurs="1" minOccurs="1" name="txnStatus" type="masterdata:String100"/>
    	</xsd:sequence>
    </xsd:complexType>


</xsd:schema>
