SYE.EsbWrappers/WSDL/authenticate.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:authenticateSchema="http://provider.model.service.ols.cqc.org.uk/authenticateSchema" xmlns:masterdata="http://provider.model.service.ols.cqc.org.uk/masterdata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://provider.model.service.ols.cqc.org.uk/authenticate/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="authenticate" targetNamespace="http://provider.model.service.ols.cqc.org.uk/authenticate/">

  <wsdl:types>
  		<xsd:schema targetNamespace="http://provider.model.service.ols.cqc.org.uk/authenticate">
			<xsd:import namespace="http://provider.model.service.ols.cqc.org.uk/authenticateSchema" schemaLocation="authenticate.xsd"/>
			<xsd:import namespace="http://provider.model.service.ols.cqc.org.uk/masterdata" schemaLocation="masterdata.xsd"/>
		</xsd:schema>  
  </wsdl:types>
  
  <wsdl:message name="FaultMsg">
  	<wsdl:part element="masterdata:olsFault" name="FaultMsg"/>
  </wsdl:message>
  
    
  <wsdl:message name="GetAuthenticationRequest">
    <wsdl:part element="authenticateSchema:GetAuthenticationRequest" name="parameters"/>
  </wsdl:message>
  
  <wsdl:message name="GetAuthenticationResponse">
    <wsdl:part element="authenticateSchema:GetAuthenticationResponse" name="parameters"/>
  </wsdl:message>
  
  <wsdl:message name="GetUpdatePasswordRequest">
    <wsdl:part element="authenticateSchema:GetUpdatePasswordRequest" name="parameters"/>
  </wsdl:message>
  
  <wsdl:message name="GetUpdatePasswordResponse">
    <wsdl:part element="authenticateSchema:GetUpdatePasswordResponse" name="parameters"/>
  </wsdl:message> 
  
  <wsdl:message name="GetUpdateSecurityQuestionsRequest">
    <wsdl:part element="authenticateSchema:GetUpdateSecurityQuestionsRequest" name="parameters"/>
  </wsdl:message>
  
  <wsdl:message name="GetUpdateSecurityQuestionsResponse">
    <wsdl:part element="authenticateSchema:GetUpdateSecurityQuestionsResponse" name="parameters"/>
  </wsdl:message>
  
  <wsdl:message name="GetSecurityQuestionsRequest">
    <wsdl:part element="authenticateSchema:GetSecurityQuestionsRequest" name="parameters"/>
  </wsdl:message>
  
  <wsdl:message name="GetSecurityQuestionsResponse">
    <wsdl:part element="authenticateSchema:GetSecurityQuestionsResponse" name="parameters"/>
  </wsdl:message>
  
  <wsdl:message name="GetAcceptTermsAndConditionsRequest">
    <wsdl:part element="authenticateSchema:GetAcceptTermsAndConditionsRequest" name="parameters"/>
  </wsdl:message>
  
  <wsdl:message name="GetAcceptTermsAndConditionsResponse">
    <wsdl:part element="authenticateSchema:GetAcceptTermsAndConditionsResponse" name="parameters"/>
  </wsdl:message>
  
  <wsdl:message name="GetResetPasswordRequest">
    <wsdl:part element="authenticateSchema:GetResetPasswordRequest" name="parameters"/>
  </wsdl:message>
  
  <wsdl:message name="GetResetPasswordResponse">
    <wsdl:part element="authenticateSchema:GetResetPasswordResponse" name="parameters"/>
  </wsdl:message>
  
   <wsdl:message name="GetLogOutRequest">
    <wsdl:part element="authenticateSchema:GetLogOutRequest" name="parameters"/>
  </wsdl:message>
  
  <wsdl:message name="GetLogOutResponse">
    <wsdl:part element="authenticateSchema:GetLogOutResponse" name="parameters"/>
  </wsdl:message>
  
  <wsdl:message name="GetValidateSecurityQuestionsRequest">
    <wsdl:part element="authenticateSchema:GetValidateSecurityQuestionsRequest" name="parameters"/>
  </wsdl:message>
  
  <wsdl:message name="GetValidateSecurityQuestionsResponse">
    <wsdl:part element="authenticateSchema:GetValidateSecurityQuestionsResponse" name="parameters"/>
  </wsdl:message>
  
   <wsdl:message name="GetAccountSetUpRequest">
    <wsdl:part element="authenticateSchema:GetAccountSetUpRequest" name="parameters"/>
  </wsdl:message>
  
  <wsdl:message name="GetAccountSetUpResponse">
    <wsdl:part element="authenticateSchema:GetAccountSetUpResponse" name="parameters"/>
  </wsdl:message>
  
 	<wsdl:message name="Credentials">
    	<wsdl:part element="masterdata:Credentials" name="Credentials"/>
  	</wsdl:message>
 
  <wsdl:portType name="AuthenticationService">
  
    <wsdl:operation name="authenticate">
      <wsdl:input message="tns:GetAuthenticationRequest"/>
      <wsdl:output message="tns:GetAuthenticationResponse"/>
      <wsdl:fault message="tns:FaultMsg" name="FaultMsg"/>	
    </wsdl:operation>
    
    <wsdl:operation name="updatePassword">
      <wsdl:input message="tns:GetUpdatePasswordRequest"/>
      <wsdl:output message="tns:GetUpdatePasswordResponse"/>
      <wsdl:fault message="tns:FaultMsg" name="FaultMsg"/>	
    </wsdl:operation>
    
     <wsdl:operation name="updateSecurityQuestions">
      <wsdl:input message="tns:GetUpdateSecurityQuestionsRequest"/>
      <wsdl:output message="tns:GetUpdateSecurityQuestionsResponse"/>
      <wsdl:fault message="tns:FaultMsg" name="FaultMsg"/>	
    </wsdl:operation>
    
    <wsdl:operation name="getSecurityQuestions">
      <wsdl:input message="tns:GetSecurityQuestionsRequest"/>
      <wsdl:output message="tns:GetSecurityQuestionsResponse"/>
      <wsdl:fault message="tns:FaultMsg" name="FaultMsg"/>	
    </wsdl:operation>
    
    <wsdl:operation name="acceptTermsAndConditions">
      <wsdl:input message="tns:GetAcceptTermsAndConditionsRequest"/>
      <wsdl:output message="tns:GetAcceptTermsAndConditionsResponse"/>
      <wsdl:fault message="tns:FaultMsg" name="FaultMsg"/>	
    </wsdl:operation>
    
    <wsdl:operation name="resetPassword">
      <wsdl:input message="tns:GetResetPasswordRequest"/>
      <wsdl:output message="tns:GetResetPasswordResponse"/>
      <wsdl:fault message="tns:FaultMsg" name="FaultMsg"/>	
    </wsdl:operation>
    
    <wsdl:operation name="logout">
      <wsdl:input message="tns:GetLogOutRequest"/>
      <wsdl:output message="tns:GetLogOutResponse"/>
      <wsdl:fault message="tns:FaultMsg" name="FaultMsg"/>	
    </wsdl:operation>    
    
     <wsdl:operation name="validateSecurityQuestions">
      <wsdl:input message="tns:GetValidateSecurityQuestionsRequest"/>
      <wsdl:output message="tns:GetValidateSecurityQuestionsResponse"/>
      <wsdl:fault message="tns:FaultMsg" name="FaultMsg"/>	
    </wsdl:operation>    
    
    <wsdl:operation name="setupUserAccount">
      <wsdl:input message="tns:GetAccountSetUpRequest"/>
      <wsdl:output message="tns:GetAccountSetUpResponse"/>
      <wsdl:fault message="tns:FaultMsg" name="FaultMsg"/>	
    </wsdl:operation>    
    
  </wsdl:portType>
 
 
  <wsdl:binding name="AuthenticationService" type="tns:AuthenticationService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    
    <wsdl:operation name="authenticate">
      <soap:operation soapAction="http://provider.model.service.ols.cqc.org.uk/AuthenticationService:authenticate"/>
      <wsdl:input>
      	<soap:header message="tns:Credentials" part="Credentials" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultMsg">
	  	<soap:fault name="FaultMsg" use="literal"/>
	  </wsdl:fault>		
    </wsdl:operation>
    
    <wsdl:operation name="updatePassword">
      <soap:operation soapAction="http://provider.model.service.ols.cqc.org.uk/AuthenticationService:updatePassword"/>
      <wsdl:input>
      	<soap:header message="tns:Credentials" part="Credentials" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultMsg">
	  	<soap:fault name="FaultMsg" use="literal"/>
	  </wsdl:fault>		
    </wsdl:operation>
    
    <wsdl:operation name="updateSecurityQuestions">
      <soap:operation soapAction="http://provider.model.service.ols.cqc.org.uk/AuthenticationService:updateSecurityQuestions"/>
      <wsdl:input>
      	<soap:header message="tns:Credentials" part="Credentials" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultMsg">
	  	<soap:fault name="FaultMsg" use="literal"/>
	  </wsdl:fault>		
    </wsdl:operation>
    
    <wsdl:operation name="getSecurityQuestions">
      <soap:operation soapAction="http://provider.model.service.ols.cqc.org.uk/AuthenticationService:getSecurityQuestions"/>
      <wsdl:input>
      	<soap:header message="tns:Credentials" part="Credentials" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultMsg">
	  	<soap:fault name="FaultMsg" use="literal"/>
	  </wsdl:fault>		
    </wsdl:operation>
    
     <wsdl:operation name="acceptTermsAndConditions">
      <soap:operation soapAction="http://provider.model.service.ols.cqc.org.uk/AuthenticationService:acceptTermsAndConditions"/>
      <wsdl:input>
      	<soap:header message="tns:Credentials" part="Credentials" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultMsg">
	  	<soap:fault name="FaultMsg" use="literal"/>
	  </wsdl:fault>		
    </wsdl:operation>
    
     <wsdl:operation name="resetPassword">
      <soap:operation soapAction="http://provider.model.service.ols.cqc.org.uk/AuthenticationService:resetPassword"/>
      <wsdl:input>
      	<soap:header message="tns:Credentials" part="Credentials" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultMsg">
	  	<soap:fault name="FaultMsg" use="literal"/>
	  </wsdl:fault>		
    </wsdl:operation>
    
     <wsdl:operation name="logout">
      <soap:operation soapAction="http://provider.model.service.ols.cqc.org.uk/AuthenticationService:logout"/>
      <wsdl:input>
      	<soap:header message="tns:Credentials" part="Credentials" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultMsg">
	  	<soap:fault name="FaultMsg" use="literal"/>
	  </wsdl:fault>		
    </wsdl:operation>
    
    <wsdl:operation name="validateSecurityQuestions">
      <soap:operation soapAction="http://provider.model.service.ols.cqc.org.uk/AuthenticationService:validateSecurityQuestions"/>
      <wsdl:input>
      	<soap:header message="tns:Credentials" part="Credentials" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultMsg">
	  	<soap:fault name="FaultMsg" use="literal"/>
	  </wsdl:fault>		
    </wsdl:operation>
    
    <wsdl:operation name="setupUserAccount">
      <soap:operation soapAction="http://provider.model.service.ols.cqc.org.uk/AuthenticationService:setupUserAccount"/>
      <wsdl:input>
      	<soap:header message="tns:Credentials" part="Credentials" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultMsg">
	  	<soap:fault name="FaultMsg" use="literal"/>
	  </wsdl:fault>		
    </wsdl:operation>
    
  </wsdl:binding>


  <wsdl:service name="AuthenticationService">
    <wsdl:port binding="tns:AuthenticationService" name="AuthenticateServicePort">
      <soap:address location="http://provider.model.service.ols.cqc.org.uk/"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>
